@import "tailwindcss";

@utility container {
  @apply mx-auto  xl:px-4  xl:w-[80%];

  @media (width >= 96rem) {
    max-width: 150rem;
  }
}

.Quicksand {
  font-family: "Quicksand Variable", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

.sidebar-scroll {
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
  transition: width 0.35s ease, opacity 0.35s ease;
}

.sidebar-scroll:hover {
  scrollbar-width: thin;
  scrollbar-color: #5e6064 transparent;
}

.sidebar-scroll:hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  opacity: 1;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #5e6064;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.sidebar-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}


.swiper-pagination {
  background-color: rgba(255, 255, 255, 0.815);
  width: fit-content !important;
  position: absolute;
  transform: translatex(-50%) !important;
  left: 50% !important;
  padding: 2px;
  border-radius: 10px;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: white;
  border: 2px solid #3b3e47; 
  border-radius: 9999px ;
  opacity: 1;
  margin: 0 4px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 20px !important; 
  background-color: #3b5bff; 
  border-radius: 9999px !important;
  transition: all 0.3s ease;
}
